:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  [slot="prefix"] {
    color: red;
  }

  [slot="suffix"] {
    text-decoration: underline;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}
